body {
    font-family: Arial, sans-serif;
    background-color: #a31f1f;
    margin: 0;
    padding: 20px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; 
    border: 1px solid rgb(63, 182, 99);
    margin: 20px;
    background-color: #f4f4f4;
    font-size: 40px;
    color: rgb(63, 182, 99);
    font-stretch:ultra-expanded;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    color: #444;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.correct {
    background-color: green;
}

button.incorrect {
    background-color: red;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input.correct {
    border-color: green;
}

input.incorrect {
    border-color: red;
}

p {
    font-size: 16px;
    font-weight: bold;
}

#feedback1, #feedback2 {
    margin-top: 10px;
}

